@import url('clash-display.css');


.page-section {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 95vh;
    display: none;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }
  
  .page-section.active {
      display: block;
  }
  
  .background-svg {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
  }
  
  .content {
      position: relative;
      z-index: 2;
      padding: 20px;
  }
  
  .about-text {
    position: flex;
    width: 61%;
    font-size: 3vmin;
    line-height: 1.5;
    z-index: 2;
    font-family: 'ClashDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-display: swap;
  }


  .custom-table {
    display: flex;
    top: 25%;
    left: 25%;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    font-size: 2.25vmin;
  }
  
  .row-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .row {
    display: grid;
    font-family: 'ClashDisplay-Medium', sans-serif;
    grid-template-columns: .6fr 2.2fr 2fr 1.2fr .8fr;
  }
  
  .row:hover {
    cursor: pointer;
  }
  
  .row:hover .highlight-on-hover {
    background-color: black;
    color: white;
    transition: all 0.2s ease;
    
  }

  .row.header {
    grid-template-columns: .6fr 2.2fr 2fr 1.2fr .8fr;
    font-family: 'ClashDisplay-Semibold', sans-serif;
    font-weight: 600;
    padding-bottom: .5vmin;
  }
  
  .cell {
    padding: 0.25vmin .5vmin;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  